node_modules/
client/node_modules/
server/node_modules/
client/dist/
server/uploads/*
!server/uploads/.gitkeep
.env
*.env
server/.env
.DS_Store
*.log
*.pem
*.key
*.pfx
*.crt
*.zip
*.tar.gz
*.pdf
*.sqlite
*.dump
